
body {
  font-family: Arial, Helvetica, sans-serif;
}


aside {
  border: 2px solid black;
  float: left;
  width: 200px;
  height: 700px;
}

ul {
  list-style-type: none;
}

li {
  padding-bottom: 30px;
  padding-top: 30px;
}

.main {

  margin-left: 200px;
  max-width: 1000px;
  padding: 20px;
}

article {
  margin-right: 100px;
}

.products {
  /*border: 2px solid yellow;*/
  display: inline-block;
  padding: 0;
  margin: 0;
}

figure {
  display: inline-block;
  padding: 25px;
  border: 2px solid black;
}